
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: url(/img/fondoJS.jpeg);
  background-size: cover;
  background-position: center;
}


.wrapper{
  width: 90%;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 100px;
  background: #ddc796;
  position: fixed;
}

.logo{
  width: 30%;
  float: left;
  text-align: left;
  line-height: 100px;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

nav{
    float: right;
    
    
}


.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


body {
  background-color: #3c3a3b;
  color: black;
  transition:  background-color 800ms ease;
}

.dark {
  background-color: #3c3a3b;
  color: #ffffff;
}


.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.content1{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}


.content1 p{
  color: #fff;
  margin: 100px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 25px;
}

.dark th, td, h5, p{
  color: #666666;
}

.thead th{
  color: white;
}

.template-carrito th, td{
  color: white;
}

.tfoot td{
  color: white;
}

#body{
  font-family: 'Roboto', sans-serif;
  background: rgb(113,118,140);
  background: radial-gradient(circle, rgba(113,118,140,1) 0%, rgba(110,112,125,1) 0%, rgba(221,199,150,1) 100%);
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#h1{
  text-align: center;
  font-weight: bold;
}

form{
  background: #fff;
  padding: 40px 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}


.form{
  width: 600px;
  margin: auto;
}


input{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

input:focus{
  outline: none;
  color: rgba(94, 93, 93);
}

.mdl-container{
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.mdl-container.show{
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.mdl{
  background-color: #ffffff;
  width: 600px;
  max-width: 100%;
  border-radius:10px;
  padding: 50px 50px;
}

