*{
  margin: 0;

}

body {
  background-color: #ffffff;
  color: black;
  transition:  background-color 800ms ease;
}

.dark {
  background-color: black;
  color: #ffffff;
}

.dark th, td, h5, p{
  color: #666666;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mdl-container{
  background: rgb(0, 0, 0, 0.3);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.mdl-container.show{
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.mdl{
  background-color: #ffffff;
  width: 600px;
  max-width: 100%;
  border-radius:10px;
  padding: 50px 50px;
}

